
body {
    margin: 0px; 
}

#title {
    text-align: center;
    background-color: DarkSlateGray;  
    font-family: "Verdana", "Lucida Console", sans-serif;
    font-weight: bold;  
    color: white; 
    font-size: 50px; 
    margin: 0; 
    padding: 70px 0em 0em 0em; 

}
#description {
    text-align: center;
    background-color: DarkSlateGray;  
    font-family: "Lucida Console", "Helvetica","Arial", sans-serif;
    font-weight: normal;  
    color: white; 
    font-size: 20px; 
    margin: 0; 
    padding: 20px 0em 50px 0em; 

}

#twoGaussians {
    display: grid; 
    grid-gap: 5px; 
    grid-template-columns: auto 150px 150px 150px 150px 150px 150px 150px auto; 
    grid-template-rows: 40px 150px 150px 150px ; 
    align-content: center;
    grid-template-areas: 
        "x x x x x x x"    
        "x o o o o o x"    
        "x o o o o o x"    
        "x o o o o o x";    
} 



#container {
    text-align: center;
    padding: 30px 0px 60px 0px; 
    background-color: GhostWhite; 
}

#LDA, #QDA, #Logistic, #Tree, #RandTree {
    grid-row: 1; 
    margin: auto; 
    vertical-align: text-bottom;
    font-family: sans-serif;
    font-weight: bold;  
    font-size: 12px; 
    
}

#LDA {
    grid-column: 4; 
}
#QDA {
    grid-column: 5; 
}
#Logistic {
    grid-column: 6; 
}
#Tree {
    grid-column: 7; 
}
#RandTree {
    grid-column: 8; 
}
.shadow {
    grid-column: 3/9; 
    grid-row: 2/5; 
    box-shadow: 0px 4px 4px 4px rgba(105,105,105, 1)
}

h2 {
    font-family: sans-serif;
    font-weight: bold;  
    font-size: 20px; 

}
.slidersContainer {
    grid-row: 2/5; 
    grid-column: 2; 
}

.sliderTxt {
    margin-top: 0px; 
    margin-bottom: 30px; 
}

#footer {
    text-align: center; 
    background-color: Gainsboro;  
    font-family: "Verdana", "Lucida Console", sans-serif;
    font-weight: bold;  
    color: rgb(121, 121, 121); 
    font-size: 20px; 
    margin: 0; 
    padding: 60px 20% 60px 20%; 
}
a {
    text-decoration: none; 
    color:#37c; 
}

a:visited {
    color: rgb(64, 89, 228); 

}