#twoGaussians {
    display: grid; 
    grid-gap: 5px; 
    grid-template-columns: auto 150px 150px 150px 150px 150px 150px  auto; 
    grid-template-rows: 40px 150px 150px 150px ; 
    align-content: center;
    grid-template-areas: 
        "x x x x x x x"    
        "x o o o o o x"    
        "x o o o o o x"    
        "x o o o o o x";    
} 



#container {
    text-align: center;
}

#LDA, #QDA, #Logistic, #Tree {
    grid-row: 1; 
    margin: auto; 
    vertical-align: text-bottom;
    font-family: sans-serif;
    font-weight: bold;  
    font-size: 12px; 
    
}

#LDA {
    grid-column: 4; 
}
#QDA {
    grid-column: 5; 
}
#Logistic {
    grid-column: 6; 
}
#Tree {
    grid-column: 7; 
}
.shadow {
    grid-column: 3/8; 
    grid-row: 2/5; 
    box-shadow: 0px 4px 4px 4px rgba(105,105,105, 1)
}
.slidersContainer {
    grid-row: 2/5; 
    grid-column: 2; 
}